//  Foundation for Sites Settings
//  -----------------------------

@import 'util/util';

// Global
// ---------
$global-flexbox: true;
$global-font-size: 100%;
$global-width: rem-calc(1000);
$global-narrow-width: rem-calc(700);
$global-lineheight: 1.5;
$primary-color: #008991;
$primary-gradient-color: #00b1aa;
$primary-variant-color: #019ed5;
$primary-light-color: #cfe9ed;
$secondary-color: #e28374;
$secondary-light-color: #ead5d2;
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #000;
$white: #fff;
$body-background: $white;
$body-font-color: #575757;
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;
$global-margin: 2rem;
$global-padding: 2rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 1.2rem;
$global-text-direction: ltr;
$anchor-image-opacity: .8;
$logo-height: rem-calc(62);
$container-vertical-padding: (
	small: (
		normal: rem-calc(50),
		low: rem-calc(50),
	),
	medium: (
		normal: rem-calc(80),
		low: rem-calc(40),
	),
);

// Breakpoints
// --------------

$breakpoints: (
	small: 0,
	medium: 640px,
	large: 1024px,
	xlarge: 1200px,
	xxlarge: 1440px,
);
$breakpoint-classes: (small medium large);

// The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-responsive-gutter: (
	small: 20px,
	medium: 30px,
);
$grid-column-align-edge: true;
$block-grid-max: 8;

// Base Typography
// ------------------

$header-font-family: 'Co Headline', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$header-font-weight: $global-weight-bold;
$header-font-style: normal;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
$header-sizes: (
	small: (
		'h1': 24,
		'h2': 20,
		'h3': 19,
		'h4': 18,
		'h5': 17,
		'h6': 16,
	),
	medium: (
		'h1': 48,
		'h2': 32,
		'h3': 24,
		'h4': 25,
		'h5': 20,
		'h6': 16,
	),
);
$header-color: #646363;
$header-lineheight: 1.4;
$header-margin-bottom: 1rem;
$header-text-rendering: optimizeLegibility;
$small-font-size: 80%;
$header-small-font-color: $medium-gray;
$paragraph-lineheight: 1.6;
$paragraph-margin-bottom: 1rem;
$paragraph-text-rendering: optimizeLegibility;
$anchor-color: $primary-color;
$anchor-color-hover: $secondary-color;
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$anchor-inverse-color: $white;
$anchor-inverse-color-hover: scale-color($anchor-inverse-color, $lightness: -14%);
$anchor-inverse-text-decoration: underline;
$anchor-inverse-text-decoration-hover: none;
$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: disc;
$list-style-position: outside;
$list-side-margin: 1.25rem;
$list-nested-side-margin: 1.25rem;

// Button
// ----------

$button-padding: 0.85em 1em;
$button-margin: 0 0 $global-margin 0;
$button-fill: solid;
$button-background: $primary-color;
$button-background-hover: scale-color($button-background, $lightness: -15%);
$button-color: #fff;
$button-color-alt: #000;
$button-radius: $global-radius;
$button-sizes: (
	tiny: 0.6rem,
	small: 0.75rem,
	default: 0.9rem,
	large: 1.25rem,
);

// Forms
// ---------

$legend-padding: rem-calc(0 3);
$form-spacing: rem-calc(16);
$form-label-color: $black;
$form-label-font-size: rem-calc(14);
$form-label-font-weight: $global-weight-normal;
$form-label-line-height: 1.8;
$input-color: $black;
$input-font-family: inherit;
$input-font-size: rem-calc(16);
$input-background: $white;
$input-background-focus: $white;
$input-background-disabled: $light-gray;
$input-border: 2px solid rgba($black, .2);
$input-border-focus: 2px solid $black;
$input-shadow: none;
$input-shadow-focus: none;
$input-cursor-disabled: default;
$input-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
$input-number-spinners: true;
$input-radius: $global-radius;

// Menu
// --------

$menu-margin: 0;
$menu-margin-nested: 1rem;
$menu-item-padding: 0.7rem 1rem;
$menu-icon-spacing: 0.25rem;
$menu-expand-max: 6;

// Off-canvas
// --------------

$offcanvas-size: 250px;
$offcanvas-background: $light-gray;
$offcanvas-zindex: -1;
$offcanvas-transition-length: 0.5s;
$offcanvas-transition-timing: ease;
$offcanvas-fixed-reveal: true;
$offcanvas-exit-background: rgba($white, 0.25);
$maincontent-class: 'off-canvas-content';
$maincontent-shadow: 0 0 10px rgba($black, 0.5);

// Top Bar
// -----------

$topbar-vertical-padding: 1.8rem;
$topbar-background: $primary-color;
