.banner {
	@include gutter;

	@include container-vertical-padding-low;

	text-align: center;
	border-bottom: rem-calc(1) solid $primary-light-color;

	.button {
		margin-bottom: 0;
	}

	ul {
		margin: 0;
	}

	li {
		display: block;

		&:not(:last-of-type) {
			margin-bottom: 1rem;
		}
	}

}

.banner-inverse {
	@include inversed-background;

	@include inversed-buttons;

	border-bottom: none;
}

@include breakpoint(medium) {
	.banner {
		li {
			display: inline-block;

			&:not(:last-of-type) {
				margin-bottom: 0;
				margin-right: 1rem;
			}
		}
	}
}
