.billboard {
	border-bottom: rem-calc(1) solid $primary-light-color;
}

.billboard-inner {
	@include gutter;

	@include container-vertical-padding;
}

.billboard-image {
	text-align: center;

	img {
		height: rem-calc(130);
		margin-bottom: $global-margin;
	}
}

.billboard-body {
	text-align: center;

	.button {
		margin-bottom: 0;
	}
}

.billboard-title {
	@include heading-size(h2);
}

@include breakpoint(medium) {
	.billboard-inner {
		@include flex-grid-row;

		align-items: center;
	}

	.billboard--swap {
		.billboard-image {
			@include flex-grid-order(2);
		}

		.billboard-body {
			@include flex-grid-order(1);
		}
	}

	.billboard-image,
	.billboard-body {
		@include flex-grid-column(6);
	}

	.billboard-body {
		text-align: left;
	}

	.billboard-image {
		img {
			height: rem-calc(200);
			margin-bottom: 0;
		}
	}
}