.connect {
	@include inversed-forms;

	text-align: center;
	background-color: $primary-light-color;

	button {
		margin-bottom: 0;
	}
}

.connect-inner {
	@include gutter;

	@include container-narrow;

	@include container-vertical-padding;
}

.connect-title {
	margin-bottom: $global-margin;
}