$faq-horizontal-padding: 1.5rem;
$faq-vertical-padding: 1rem;
$faq-chevron-size: .65rem;

.faq-inner {
	@include gutter;

	@include container-narrow;

	@include container-vertical-padding;

	display: block;
}

.faq-title {
	margin-bottom: $global-margin;
	text-align: center;
}

.faq-accordion-title,
.faq-accordion-content {
	padding: $faq-vertical-padding $faq-horizontal-padding;
}

.faq-accordion-title {
	margin-bottom: rem-calc(-1);
	border-top: rem-calc(1) solid $primary-color;
	border-bottom: rem-calc(1) solid $primary-color;
	font-family: $body-font-family;
	font-weight: 400;
	color: $primary-color;
	transition: background-color .25s ease-out;

	&:hover {
		background: lighten($primary-light-color, 7%);
	}
}

// Chevron
.faq-accordion-item {
	.faq-accordion-title:before {
		float: right;
		margin-top: .6rem;
		border-style: solid;
		border-width: rem-calc(1) rem-calc(1) 0 0;
		content: "";
		width: $faq-chevron-size;
		height: $faq-chevron-size;
		transform: rotate(135deg);
	}

	&.is-active .faq-accordion-title:before {
		margin-top: .9rem;
		transform: rotate(-45deg);
	}
}

.faq-accordion-content {
	display: none;

	> *:last-child {
		margin-bottom: 0;
	}
}