.features-advantages {
	background-color: $primary-light-color;
}

.features-disadvantages {
	background-color: $secondary-light-color;
}

.features-inner {
	@include gutter;

	@include container-vertical-padding;
}

.features-image {
	text-align: center;

	img {
		height: rem-calc(130);
		margin-bottom: rem-calc(30);
	}
}

.features-body {
	ul {
		margin: 0;
	}
}

.features-title {
	@include heading-size(h2);

	margin-bottom: $global-margin;
}

@include breakpoint(medium) {
	.features-inner {
		@include flex-grid-row;
		align-items: center;
	}

	.features-image,
	.features-body {
		@include flex-grid-column(6);
	}

	.features-image {
		@include flex-grid-order(2);
	}

	.features-body {
		@include flex-grid-order(1);
	}

	.features-image {
		img {
			height: rem-calc(200);
			margin-bottom: 0;
		}
	}

}