.hero {
	@include inversed-heading;

	text-align: center;

	background: $primary-variant-color no-repeat center center;
	background-image: url(../img/hero-small.jpg);
	background-size: cover;

	@each $size in $breakpoint-classes {
		@if $size != small {
			@include breakpoint($size) {
				background-image: url(../img/hero-#{$size}.jpg);
			}
		}
	}

}

.hero-inner {
	@include gutter;

	@include container;

	@include container-vertical-padding;
}

.hero-title {
	margin-bottom: 0;
}

@include breakpoint(medium) {
	.hero {
		text-align: left;
	}

	.hero-title {
		max-width: rem-calc(450);
	}
}