.page-footer {
	@include inversed-background;

	@include inversed-heading;

	@include inversed-anchors;

	@include inversed-buttons;

	@include inversed-forms;

	text-align: center;

	address {
		margin-bottom: $global-margin;
		font-style: normal;
	}
}

.page-footer-inner {
	@include gutter;

	@include container-vertical-padding-low;
}

.page-footer-info {
	text-align: center;
	margin-bottom: 0;
	font-size: $small-font-size;
}

.page-footer-logo {
	height: $logo-height;
	margin-bottom: $global-margin;
}

.page-footer-social {
	margin: 0 0 $global-margin 0;

	a:hover,
	a:focus {
		opacity: $anchor-image-opacity;
	}

	li {
		display: inline-block;

		&:not(:last-of-type) {
			margin-right: 1rem;
		}
	}

	svg {
		width: 2.5rem;
		height: 2.5rem;
	}

}

@include breakpoint(medium) {
	.page-footer {
		text-align: left;
	}

	.page-footer-inner {
		@include flex-grid-row;
	}

	.page-footer-body,
	.page-footer-form {
		@include flex-grid-column(6);
	}

	.page-footer-info {
		@include flex-grid-column(12);
	}
}