.page {
	@include container-vertical-padding-low;

	border-bottom: rem-calc(1) solid $primary-light-color;

	.row {
		@include gutter;

		@include grid-row;

		@include container-narrow;
	}
}

.page-preview {
	margin-bottom: $global-margin;
}