.reference {
	border-bottom: rem-calc(1) solid $primary-light-color;
}

.reference-inner {
	@include gutter;

	@include container-narrow;

	@include container-vertical-padding;
}

.reference-title {
	margin-bottom: $global-margin;
	text-align: center;
}