.sidebar {
	background-color: transparent;
}

.sidebar-menu {
	@include menu-base;

	@include menu-direction(vertical);

	font-size: rem-calc(20);

	> li > a {
		@include gutter;

		padding-top: rem-calc(20);
		padding-bottom: rem-calc(20);
	}
}