.stats {
	@include inversed-background;
}

.stats-inner {
	@include gutter;

	@include flex-grid-row;

	@include container-vertical-padding-low;
}

.stats-item {
	@include flex-grid-column(6);

	&:nth-of-type(1),
	&:nth-of-type(2) {
		margin-bottom: $global-margin;
	}
}

.stats-item-number {
	display: block;
	margin-bottom: $header-margin-bottom;
	font-family: $header-font-family;
	font-weight: $header-font-weight;

	@include heading-size(h2);

}

@include breakpoint(medium) {
	.stats-item {
		@include flex-grid-column(3);

		&,
		&:nth-of-type(1),
		&:nth-of-type(2) {
			margin-bottom: 0;
		}
	}
}
