.top-bar {
	@include clearfix;

  	@include gutter;

  	@include inversed-background;

  	@include inversed-anchors;

  	padding-top: $topbar-vertical-padding;
  	padding-bottom: $topbar-vertical-padding;
}

.top-bar-logo,
.top-bar-toggle {
	&:hover,
	&:focus {
		opacity: $anchor-image-opacity;
	}
}

.top-bar-logo {
	float: left;

	img {
		height: $logo-height;
		max-width: none;
	}
}

.top-bar-toggle {
	float: right;

	svg {
		height: $logo-height;
		width: rem-calc(45);
	}
}
