$where-next-image-height: rem-calc(130);

.where-next {
	border-bottom: rem-calc(1) solid $primary-light-color;
}

.where-next-inner {
	@include gutter;

	@include container;

	@include container-vertical-padding;
}

.where-next-item {
	text-align: center;

	&:not(:last-of-type) {
		margin-bottom: (2 * $global-margin);
	}

	.button {
		margin-bottom: 0;
	}
}

/* Center image in div */

/* via http://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-div#answer-7310398 */
.where-next-image {
	height: $where-next-image-height;
	vertical-align: middle;
	white-space: nowrap;
	margin-bottom: $global-margin;

	&:before {
		display: inline-block;
		height: 100%;
		content: "";
		vertical-align: middle;
	}

	img {
		max-height: $where-next-image-height;
	}
}

@include breakpoint(medium) {
	.where-next-inner {
		@include flex-grid-row;
	}

	.where-next-item {
		@include flex-grid-column(4);

		text-align: left;

		&:not(:last-of-type) {
			margin-bottom: 0;
		}
	}
}