/*
 * Mixin for inverse background
 */
@mixin inversed-background () {
	color: $white;
	background: $primary-color url(../img/gradient-bg.png);
	background-image: url(../img/gradient-bg.svg);
	background-image: linear-gradient(70deg, $primary-color 0%, $primary-gradient-color 100%);
}

/*
 * Mixin for inverse anchors
 */
@mixin inversed-anchors () {
	a {
		color: $anchor-inverse-color;
		text-decoration: $anchor-inverse-text-decoration;

		&:hover,
		&:focus {
			color: $anchor-inverse-color-hover;

			@if $anchor-inverse-text-decoration-hover != $anchor-inverse-text-decoration {
				text-decoration: $anchor-inverse-text-decoration-hover;
			}
		}
	}
}

/*
 * Mixin for inverse button
 */
@mixin inversed-buttons () {
	.button {
		@include button-hollow-style($white);
		border-width: rem-calc(2);

		&:hover,
		&:focus {
			border-color: $black;
			color: $black;
		}
	}
}

/*
 * Mixin for inverse heading
 */
@mixin inversed-heading () {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $white;
	}
}

/*
 * Mixin for inverse form
 */
@mixin inversed-forms () {
	input,
	textarea {
		border-color: transparent;

		&:focus {
			border: $input-border-focus;
			background-color: $input-background-focus;
			outline: none;
			box-shadow: $input-shadow-focus;

			@if has-value($input-transition) {
				transition: $input-transition;
			}
		}
	}
}
