<footer class="page-footer">

	<div class="page-footer-inner">

		<div class="page-footer-body">

			<img class="page-footer-logo" src="assets/img/etk-logo.svg" alt="Euroteknika">

			<address>
				Euroteknika s.r.o<br>
				<a href="tel:+420272650187">+420 272 650 187</a><br>
				<a href="tel:+420731151324">+420 731 151 324</a><br>
				<a href="mailto:info@euroteknika.cz">info@euroteknika.cz</a>
			</address>

			<ul class="page-footer-social">
				<li><a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-twitter"></use></svg></a></li>
				<li><a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-facebook"></use></svg></a></li>
				<li><a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-linkedin"></use></svg></a></li>
				<li><a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-googleplus"></use></svg></a></li>
				<li><a href="#"><svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-vimeo"></use></svg></a></li>
			</ul>

		</div>

		<div class="page-footer-form">

			<h3>Spojte se s námi</h3>

			<form>
				<label class="show-for-sr">Email nebo telefon</label>
				<input type="text" placeholder="Váš e-mail nebo telefonní číslo">
				<label class="show-for-sr">Zpráva</label>
				<textarea placeholder="Co nám chcete říci?" rows="4"></textarea>
				<button type="submit" class="button">Odeslat</button>
			</form>

		</div>

		<p class="page-footer-info">&copy; 2016 Eurotronika. Vytvořeno v&nbsp;<a href="http://www.brandnew.cz/">Brand New</a>. Vyhrazujeme si právo na změnu technických údajů a&nbsp;parametrů. Případné chyby a&nbsp;omyly nelze vyloučit.</p>

	</div>

</footer>