<header class="top-bar" role="banner">

	<a href="." class="top-bar-logo"><img src="assets/img/etk-logo.svg" alt="Euroteknika"></a>

	<button class="top-bar-toggle" type="button" data-open="navigation">
		<span class="show-for-sr">Menu</span>
		<svg role="img"><use xlink:href="assets/img/svg-defs.svg#shape-menu"></use></svg>
	</button>

</header>