<aside class="sidebar off-canvas position-right" id="navigation" data-off-canvas data-position="right">

	<nav>
		<ul class="sidebar-menu">
			<li><a href="/">Domů</a></li>
			<li><a href="pacient.html">Pro pacienty</a></li>
			<li><a href="dentist.html">Pro zubaře</a></li>
			<li><a href="implantologist.html">Pro implantology</a></li>
			<li><a href="page.html">Kontakt</a></li>
		</ul>
	</nav>

</aside>