<main>

	<section class="billboard">
		<div class="billboard-inner">
			<div class="billboard-image">
				<img src="assets/img/tools.jpg" alt="Zubařské nástroje">
			</div>
			<div class="billboard-body">
				<h1 class="billboard-title">Pro zubaře</h1>
				<p>Dejte svým pacientům tu nejlepší péči. Naše implantáty jsou klinicky testovány a  jsou bezpečnou a spolehlivou zubní náhradou.</p>
			</div>
		</div>
	</section>

	<section class="features features-disadvantages">
		<div class="features-inner">
			<div class="features-image">
				<noscript data-lazy-load data-src="assets/img/tooth-bridge.jpg" data-alt="Zubní můstek">
					<img src="assets/img/tooth-bridge.jpg" alt="Zubní můstek">
				</noscript>
			</div>
			<div class="features-body">
				<h2 class="features-title">Nevýhody můstku</h2>
				<ul class="list-features list-features--minus">
					<li>Vyžaduje obroušení (poškození) vašich okolních zubů</li>
					<li>Horší estetika</li>
					<li>Resorpce kosti pod můstkem</li>
					<li>Záporný vliv na psychiku pacienta ve srovnání s řešením pomocí implantátu</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="features features-advantages">
		<div class="features-inner">
			<div class="features-image">
				<noscript data-lazy-load data-src="assets/img/dental-implant.jpg" data-alt="Zubní implantát">
					<img src="assets/img/dental-implant.jpg" alt="Zubní implantát">
				</noscript>
			</div>
			<div class="features-body">
				<h2 class="features-title">Výhody Implantátů ETK</h2>
				<ul class="list-features">
					<li>Nevyžadují zásah do okolních zubů</li>
					<li>Umožní profesní růst zubaře</li>
					<li>Zajistí spokojeného pacienta</li>
					<li>Implantáty ETK byly úspěšně použity pro poextrakční zavedení, okamžité zatížení i výkony typu okamžité ukotvení celkové náhrady na 4 implantátech</li>
					<li>V nabídce jsou implantáty pro všechny indikace</li>
					<li>Názor ambasadora</li>
				</ul>
			</div>
		</div>
	</section>

	<div class="banner">
		<a href="page.html" class="button">Funkčnost a výhody implantátu</a>
	</div>

	<section class="stats">
		<div class="stats-inner">
			<h2 class="show-for-sr">Statistiké údaje o Euroteknika</h2>
			<div class="stats-item"><span class="stats-item-number"><span data-counter-up>10</span> minut</span> tak dlouho trvá zavedení implantátu</div>
			<div class="stats-item"><span class="stats-item-number"><span data-counter-up>98</span> %</span> úspěšnost zavedení implantátu</div>
			<div class="stats-item"><span class="stats-item-number"><span data-counter-up>20</span> let</span> klinické praxe</div>
			<div class="stats-item"><span class="stats-item-number"><span data-counter-up>120</span></span> zaměstnanců</div>
		</div>
	</section>

	<section class="reference">
		<div class="reference-inner">

			<h2 class="reference-title">Názor ambasadora</h2>

			<article class="media">
				<div class="media-image">
					<noscript data-lazy-load data-src="assets/img/filip-donev.jpg" data-alt="MUDr. et MUDr. Filip Donev">
						<img src="assets/img/filip-donev.jpg" alt="MUDr. et MUDr. Filip Donev">
					</noscript>
				</div>
				<div class="media-body">
					<h3 class="media-title">MUDr. et MUDr. Filip Donev</h3>
					<p>S tímto systémem jsem velmi spokojen, poskytuje pohodlí i bezpečí mně i mým pacientům.</p>
				</div>
			</article>

		</div>
	</section>

	<section class="reference">
		<div class="reference-inner">

			<h2 class="reference-title">S etk spolupracuje</h2>

			<article class="media media-stacked">
				<div class="media-image">
					<noscript data-lazy-load data-src="assets/img/filip-donev.jpg" data-alt="MUDr. et MUDr. Filip Donev">
						<img src="assets/img/filip-donev.jpg" alt="MUDr. et MUDr. Filip Donev">
					</noscript>
				</div>
				<div class="media-body">
					<h3 class="media-title">MUDr. et MUDr. Filip Donev</h3>
					<p>
						<adress>Prague City Dental<br>
						Klimentského 20, Praha 1<br>
						<a href="tel:+420731151324">+420 731 151 324</a><br>
						<a href="mailto:">info@euroteknika.cz</a>
						</adress>
					</p>
					<a href="#" class="button">Spojit se</a>
				</div>
			</article>

		</div>
	</section>

	<div class="banner banner-inverse">
		<a href="page.html" class="button">Zjistit více o etk</a>
	</div>

	<section class="faq">
		<div class="faq-inner">
			<h2 class="faq-title">FAQ</h2>

			<div class="faq-accordion" data-accordion data-allow-all-closed="true">
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Jaká jsou stadia léčby?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>Po konzultaci s implantologem, probíhá léčba ve třech hlavních krocích:</p>
						<ol>
							<li>Umístění implantátu/ů</li>
							<li>Hojení dásně</li>
							<li>Finální usazení protézy</li>
							<li>V některých případech lze už během první návštěvy umístit provizorní korunku</li>
						</ol>
					</div>
				</article>
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Jak dlouho léčba trvá?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>Vlastní zavedení implantátu obvykle trvá do deseti minut.</p>
						<p>V některých případech je možné protézu upevnit hned po zavedení implantátu.</p>
						<p>Délka léčby se liší podle rozsahu a náročností chirurgického zákroku a typu protézy. Pacient může odejít s funkční náhradou ten samý den, v komplikovaných případech může řádné zhojení trvat i několik měsíců.</p>
					</div>
				</article>
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Bolí zavedení implantátu?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>Abychom zamezili citlivosti a bolesti, zavádíme implantát v lokální anestezii a lékař vám předepíše vhodnou premedikaci. Ve většině případů se druhý den můžete věnovat běžným činnostem.</p>
					</div>
				</article>
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Z čeho jsou implantáty vyrobeny? Odkud pochází materiál?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>Zubní implantáty ETK a související protetické komponenty se vyrábějí z titanu v souladu s normami ISO 5832 a ISO 10993. Původ materiálu se kontroluje, je certifikován a je dohledatelný v jakékoli šarži, která splňuje normy ISO 13485 a ISO 9001 a standardy podle směrnice 93/42/EHS. Implantáty ETK se mohou chlubit vysokou kvalitou od předního francouzského výrobce.</p>
					</div>
				</article>
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Jaká je míra úspěšnosti?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>U 98% pacientů zavádění implantátů probíhá bez komplikací.</p>
					</div>
				</article>
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Kolik léčba stojí?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>Celková cena léčby závisí na komplikovanosti případu a typu implantátu a protézy.</p>
						<p>Z dlouhodobého časového hlediska je implantát v naprosté většině případů levnější než můstek.</p>
					</div>
				</article>
			</div>

		</div>
	</section>

	<section class="connect">
		<div class="connect-inner">

			<h2 class="connect-title">Spojte se s naším obchodním zástupcem</h2>

			<form>
				<label class="show-for-sr">Email nebo telefon</label>
				<input type="text" placeholder="Váš e-mail nebo telefonní číslo">
				<label class="show-for-sr">Zpráva</label>
				<textarea placeholder="Co nám chcete říci?" rows="4"></textarea>
				<button type="submit" class="button">Odeslat</button>
			</form>

		</div>
	</section>

</main>