<main>

	<div class="hero">
		<div class="hero-inner">
			<h1 class="hero-title">Vyrábíme zubní&nbsp;implantáty, které si zamilujete.</h1>
		</div>
	</div>

	<section class="billboard">
		<div class="billboard-inner">
			<div class="billboard-image">
				<img src="assets/img/pacient.jpg" alt="Bolavý zub">
			</div>
			<div class="billboard-body">
				<h2 class="billboard-title">Pro pacienty</h2>
				<p>Co jsou zubní implantáty a jak můžou pomoci?</p>
				<a href="pacient.html" class="button">Zjistit více</a>
			</div>
		</div>
	</section>

	<section class="billboard billboard--swap">
		<div class="billboard-inner">
			<div class="billboard-image">
				<noscript data-lazy-load data-src="assets/img/tools.jpg" data-alt="Zubařské nástroje">
					<img src="assets/img/tools.jpg" alt="Zubařské nástroje">
				</noscript>
			</div>
			<div class="billboard-body">
				<h2 class="billboard-title">Pro zubaře</h2>
				<p>Objevte naše implantáty, dejte svým pacientům to nejlepší.</p>
				<a href="dentist.html" class="button">Zjistit více</a>
			</div>
		</div>
	</section>

	<section class="billboard">
		<div class="billboard-inner">
			<div class="billboard-image">
				<noscript data-lazy-load data-src="assets/img/screws.jpg" data-alt="Šrouby pro implantáty">
					<img src="assets/img/screws.jpg" alt="Šrouby pro implantáty">
				</noscript>
			</div>
			<div class="billboard-body">
				<h2 class="billboard-title">Pro implantology</h2>
				<p>Přesvědčte se o tom, že naše implantáty jsou ty pravé.</p>
				<a href="implantologist.html" class="button">Zjistit více</a>
			</div>
		</div>
	</section>

	<section class="features">
		<div class="features-inner">
			<div class="features-image">
				<noscript data-lazy-load data-src="assets/img/teeth.jpg" data-alt="Šrouby pro implantáty">
					<img src="assets/img/teeth.jpg" alt="Šrouby pro implantáty">
				</noscript>
			</div>
			<div class="features-body">
				<h2 class="show-for-sr">Výhody implantátů</h2>
				<ul class="list-features">
					<li>Budou vypadat přesně jako vaše zuby</li>
					<li>Dokonale nahradí váš chybějící zub</li>
					<li>Nevyžadují žádné zbroušení vašich zdravých zubů</li>
					<li>Po zákroku implantologa se vám ústa rychle zahojí</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="stats">
		<div class="stats-inner">
			<h2 class="show-for-sr">Statistiké údaje o Euroteknika</h2>
			<div class="stats-item"><span class="stats-item-number"><span data-counter-up>10</span> minut</span> tak dlouho trvá zavedení implantátu</div>
			<div class="stats-item"><span class="stats-item-number"><span data-counter-up>98</span> %</span> úspěšnost zavedení implantátu</div>
			<div class="stats-item"><span class="stats-item-number"><span data-counter-up>20</span> let</span> klinické praxe</div>
			<div class="stats-item"><span class="stats-item-number"><span data-counter-up>120</span></span> zaměstnanců</div>
		</div>
	</section>

	<div class="banner">
		<a href="page.html" class="button">Zjistit více o etk</a>
	</div>

	<section class="reference">
		<div class="reference-inner">

			<h2 class="reference-title">Názor ambasadora</h2>

			<article class="media">
				<div class="media-image">
					<noscript data-lazy-load data-src="assets/img/filip-donev.jpg" data-alt="MUDr. et MUDr. Filip Donev">
						<img src="assets/img/filip-donev.jpg" alt="MUDr. et MUDr. Filip Donev">
					</noscript>
				</div>
				<div class="media-body">
					<h3 class="media-title">MUDr. et MUDr. Filip Donev</h3>
					<p>S tímto systémem jsem velmi spokojen, poskytuje pohodlí i bezpečí mně i mým pacientům.</p>
				</div>
			</article>

		</div>
	</section>

</main>