<main>

	<section class="billboard">
		<div class="billboard-inner">
			<div class="billboard-image">
				<img src="assets/img/screws.jpg" alt="Šrouby pro implantáty">
			</div>
			<div class="billboard-body">
				<h1 class="billboard-title">Pro implantology</h1>
				<p>Přesvědčte se o tom, že naše implantáty jsou ty pravé.</p>
			</div>
		</div>
	</section>

	<div class="banner banner-inverse">
		<a href="page.html" class="button">Zjistit více o etk</a>
	</div>

	<section class="faq">
		<div class="faq-inner">
			<h2 class="faq-title">FAQ</h2>

			<div class="faq-accordion" data-accordion data-allow-all-closed="true">
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Jaké jsou stadia léčby?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>Po konzultaci s implantologem, probíhá léčba ve třech hlavních krocích:</p>
						<ol>
							<li>Umístění implantátu/ů</li>
							<li>Hojení dásně</li>
							<li>Finální usazení protézy</li>
							<li>V některých případech lze už během první návštěvy umístit provizorní korunku</li>
						</ol>
					</div>
				</article>
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Jak dlouho léčba trvá?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>Vlastní zavedení implantátu obvykle trvá do deseti minut.</p>
						<p>V některých případech je možné protézu upevnit hned po zavedení implantátu.</p>
						<p>Délka léčby se liší podle rozsahu a náročností chirurgického zákroku a typu protézy. Pacient může odejít s funkční náhradou ten samý den, v komplikovaných případech může řádné zhojení trvat i několik měsíců.</p>
					</div>
				</article>
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Bolí zavedení implantátu?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>Abychom zamezili citlivosti a bolesti, zavádíme implantát v lokální anestezii a lékař vám předepíše vhodnou premedikaci. Ve většině případů se druhý den můžete věnovat běžným činnostem.</p>
					</div>
				</article>
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Z čeho jsou implantáty vyrobeny? Odkud pochází materiál?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>Zubní implantáty ETK a související protetické komponenty se vyrábějí z titanu v souladu s normami ISO 5832 a ISO 10993. Původ materiálu se kontroluje, je certifikován a je dohledatelný v jakékoli šarži, která splňuje normy ISO 13485 a ISO 9001 a standardy podle směrnice 93/42/EHS. Implantáty ETK se mohou chlubit vysokou kvalitou od předního francouzského výrobce.</p>
					</div>
				</article>
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Jaká je míra úspěšnosti?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>U 98% pacientů zavádění implantátů probíhá bez komplikací.</p>
					</div>
				</article>
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Kolik léčba stojí?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>Celková cena léčby závisí na komplikovanosti případu a typu implantátu a protézy.</p>
						<p>Z dlouhodobého časového hlediska je implantát v naprosté většině případů levnější než můstek.</p>
					</div>
				</article>
			</div>

		</div>
	</section>

</main>