<main>

	<section class="billboard">
		<div class="billboard-inner">
			<div class="billboard-image">
				<img src="assets/img/pacient.jpg" alt="Bolavý zub">
			</div>
			<div class="billboard-body">
				<h1 class="billboard-title">Pro pacienty</h1>
				<p>Máme pro vás řešení, díky kterému se budete chtít smát. Připravíme implantát, který vám padne.</p>
			</div>
		</div>
	</section>

	<section class="features features-disadvantages">
		<div class="features-inner">
			<div class="features-image">
				<noscript data-lazy-load data-src="assets/img/tooth-bridge.jpg" data-alt="Zubní můstek">
					<img src="assets/img/tooth-bridge.jpg" alt="Zubní můstek">
				</noscript>
			</div>
			<div class="features-body">
				<h2 class="features-title">Nevýhody můstku</h2>
				<ul class="list-features list-features--minus">
					<li>Vyžaduje obroušení (poškození) vašich okolních zubů</li>
					<li>Nedá se opravit přímo ve vašich ústech</li>
					<li>Kovová konstrukce můstku vám bude prosvítat</li>
					<li>Nenahradí plně funkčnost vašeho chybějícího zubu</li>
					<li>Pod můstkem dochází k úbytku kosti, protože není přirozeným způsobem zatěžována</li>
					<li>Problém s estetikou řešení, je vidět, že zuby jsou spojeny do jednoho celku</li>
					<li>Problém s hygienou pod můstkem</li>
					<li>Zuby, na kterých je můstek ukotven, jsou přetěžovány a dříve se mohou uvolnit</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="features features-advantages">
		<div class="features-inner">
			<div class="features-image">
				<noscript data-lazy-load data-src="assets/img/dental-implant.jpg" data-alt="Zubní implantát">
					<img src="assets/img/dental-implant.jpg" alt="Zubní implantát">
				</noscript>
			</div>
			<div class="features-body">
				<h2 class="features-title">Výhody Implantátů ETK</h2>
				<ul class="list-features">
					<li>Budou vypadat přesně jako vaše zuby</li>
					<li>Dokonale nahradí váš chybějící zub</li>
					<li>Nevyžadují žádné zbroušení vašich zdravých zubů</li>
					<li>Po zákroku implantologa se vám ústa rychle zahojí</li>
				</ul>
			</div>
		</div>
	</section>

	<div class="banner">
		<ul>
			<li><a href="page.html" class="button">Funkčnost a výhody implantátu</a></li>
			<li><a href="page.html" class="button">Zavedení implantátu</a></li>
		</ul>
	</div>

	<section class="stats">
		<div class="stats-inner">
			<h2 class="show-for-sr">Statistiké údaje o Euroteknika</h2>
			<div class="stats-item"><span class="stats-item-number"><span data-counter-up>10</span> minut</span> tak dlouho trvá zavedení implantátu</div>
			<div class="stats-item"><span class="stats-item-number"><span data-counter-up>98</span> %</span> úspěšnost zavedení implantátu</div>
			<div class="stats-item"><span class="stats-item-number"><span data-counter-up>20</span> let</span> klinické praxe</div>
			<div class="stats-item"><span class="stats-item-number"><span data-counter-up>120</span></span> zaměstnanců</div>
		</div>
	</section>

	<section class="reference">
		<div class="reference-inner">

			<h2 class="reference-title">Názor ambasadora</h2>

			<article class="media">
				<div class="media-image">
					<noscript data-lazy-load data-src="assets/img/filip-donev.jpg" data-alt="MUDr. et MUDr. Filip Donev">
						<img src="assets/img/filip-donev.jpg" alt="MUDr. et MUDr. Filip Donev">
					</noscript>
				</div>
				<div class="media-body">
					<h3 class="media-title">MUDr. et MUDr. Filip Donev</h3>
					<p>S tímto systémem jsem velmi spokojen, poskytuje pohodlí i bezpečí mně i mým pacientům.</p>
				</div>
			</article>

		</div>
	</section>

	<div class="banner banner-inverse">
		<a href="page.html" class="button">Zjistit více o etk</a>
	</div>

	<section class="reference">
		<div class="reference-inner">

			<h2 class="reference-title">Příběhy ze života</h2>

			<article class="media">
				<div class="media-image">
					<noscript data-lazy-load data-src="assets/img/filip-donev.jpg" data-alt="MUDr. et MUDr. Filip Donev">
						<img src="assets/img/filip-donev.jpg" alt="MUDr. et MUDr. Filip Donev">
					</noscript>
				</div>
				<div class="media-body">
					<h3 class="media-title">Dominika, 48 let</h3>
					<p>Protéza mě bolela, když jsem jedla horká či studená jídla. Nepohodlná byla i při sportu. Od té doby co mám zubní implantát se cítím skvěle a žádný z těchto problémů mě netrápí.</p>
				</div>
			</article>

			<article class="media">
				<div class="media-image">
					<noscript data-lazy-load data-src="assets/img/filip-donev.jpg" data-alt="MUDr. et MUDr. Filip Donev">
						<img src="assets/img/filip-donev.jpg" alt="MUDr. et MUDr. Filip Donev">
					</noscript>
				</div>
				<div class="media-body">
					<h3 class="media-title">Jiří, 79 let</h3>
					<p>Už mi není 20, ale stále mám téměř všechny zuby svoje. A mezi nimi dva implantáty. Za více než 10 let jsem na ně ani nepomyslel. Podle mne je toto nejlepší řešení.</p>
				</div>
			</article>

			<article class="media">
				<div class="media-image">
					<noscript data-lazy-load data-src="assets/img/filip-donev.jpg" data-alt="MUDr. et MUDr. Filip Donev">
						<img src="assets/img/filip-donev.jpg" alt="MUDr. et MUDr. Filip Donev">
					</noscript>
				</div>
				<div class="media-body">
					<h3 class="media-title">Anna, 33 let</h3>
					<p>Když jsem při nehodě přišla o zub, byl implantát jednou z možností, jak se vyhnout můstku a nepoškodit tak dva další zuby. Zavedení implantátu bylo jednoduché a bezbolestné.</p>
				</div>
			</article>

		</div>
	</section>

	<section class="faq" id="faq">
		<div class="faq-inner">
			<h2 class="faq-title">FAQ</h2>

			<div class="faq-accordion" data-accordion data-allow-all-closed="true">
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Jaké jsou stadia léčby?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>Po konzultaci s implantologem, probíhá léčba ve třech hlavních krocích:</p>
						<ol>
							<li>Umístění implantátu/ů</li>
							<li>Hojení dásně</li>
							<li>Finální usazení protézy</li>
							<li>V některých případech lze už během první návštěvy umístit provizorní korunku</li>
						</ol>
					</div>
				</article>
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Jak dlouho léčba trvá?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>Vlastní zavedení implantátu obvykle trvá do deseti minut.</p>
						<p>V některých případech je možné protézu upevnit hned po zavedení implantátu.</p>
						<p>Délka léčby se liší podle rozsahu a náročností chirurgického zákroku a typu protézy. Pacient může odejít s funkční náhradou ten samý den, v komplikovaných případech může řádné zhojení trvat i několik měsíců.</p>
					</div>
				</article>
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Bolí zavedení implantátu?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>Abychom zamezili citlivosti a bolesti, zavádíme implantát v lokální anestezii a lékař vám předepíše vhodnou premedikaci. Ve většině případů se druhý den můžete věnovat běžným činnostem.</p>
					</div>
				</article>
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Z čeho jsou implantáty vyrobeny? Odkud pochází materiál?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>Zubní implantáty ETK a související protetické komponenty se vyrábějí z titanu v souladu s normami ISO 5832 a ISO 10993. Původ materiálu se kontroluje, je certifikován a je dohledatelný v jakékoli šarži, která splňuje normy ISO 13485 a ISO 9001 a standardy podle směrnice 93/42/EHS. Implantáty ETK se mohou chlubit vysokou kvalitou od předního francouzského výrobce.</p>
					</div>
				</article>
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Jaká je míra úspěšnosti?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>U 98% pacientů zavádění implantátů probíhá bez komplikací.</p>
					</div>
				</article>
				<article class="faq-accordion-item" data-accordion-item>
					<a href="#"><h3 class="faq-accordion-title">Kolik léčba stojí?</h3></a>
					<div class="faq-accordion-content" data-tab-content>
						<p>Celková cena léčby závisí na komplikovanosti případu a typu implantátu a protézy.</p>
						<p>Z dlouhodobého časového hlediska je implantát v naprosté většině případů levnější než můstek.</p>
					</div>
				</article>
			</div>

		</div>
	</section>

</main>