svg {
	display: inline-block;
}

textarea {
	min-height: (4 * $global-lineheight * 1rem); // 4 rows
}

@include breakpoint (large) {
	a[href^=tel] {
		text-decoration: none !important;
		cursor: default;

		&:hover,
		&:focus {
			color: inherit !important;
	    }
	}
}