// ===============================================================
// Co Headline
// ===============================================================

// Bold
@include breakpoint (medium) {
	@font-face {
		font-family: Co Headline;
		font-style: normal;
		font-weight: 800;
		src: url(../font/coheadline-bold.woff) format("woff");
	}
}