$button-vertical-padding: .5rem;

$button-padding: $button-vertical-padding 2em;
$button-radius: rem-calc(50);

.button {
	@include button;

	@include button-hollow;

	@include button-hollow-style;

	font-family: $header-font-family;
	font-weight: 800;
	border-width: rem-calc(2);
	transition: border-color .25s ease-out, color .25s ease-out;

	&:hover,
	&:focus {
		color: $secondary-color;
		border-color: $secondary-color;
	}
}
