.list-features {
	list-style-type: none;
	margin: $global-margin 0;
	font-family: $header-font-family;
	font-weight: 800;
	color: $primary-color;

	li {
		position: relative;
		padding-left: rem-calc(55);

		&:not(:last-of-type) {
			margin-bottom: 1em;
		}

		&:before {
			position: absolute;
			left: 0;
			top: rem-calc(-2);
			content: "";
			display: inline-block;
			width: rem-calc(30);
			height: rem-calc(30);
			background: url(../img/bullet-plus.svg) no-repeat center center;
		}
	}
}

.list-features--minus {
	color: darken($secondary-color, 5%);

	li:before {
		background: url(../img/bullet-minus.svg) no-repeat center center;
	}
}