$media-image-size: rem-calc(115);

.media {
	@include media-object-container;

	&:last-of-type {
		margin-bottom: 0;
	}

	.button {
		margin-bottom: 0;
	}
}

.media-stacked {
	.media-image,
	.media-body {
		@include media-object-stack;
		text-align: center;
	}

	.media-image {
		padding-right: 0 !important; // rewrite Foundation rule
		img {
			max-width: none;
			border-radius: 50%;
		}
	}
}

.media-image,
.media-body {
	@include media-object-section(1rem);

	vertical-align: middle;
}

.media-image,
.media-stacked .media-image {
	img {
		width: $media-image-size;
		height: $media-image-size;
		max-width: none;
		border-radius: 50%;
	}
}

.media-body {
	padding-bottom: 0 !important; // rewrite Foundation rule

	> *:last-child {
		margin-bottom: 0;
	}
}

.media-title {
	font-size: 1em;
}

@include breakpoint (small only) {
	.media-image,
	.media-body {
		@include media-object-stack;

		text-align: center;

		img {
			width: $media-image-size;
			height: $media-image-size;
		}
	}

	.media-image {
		padding-right: 0 !important; // rewrite Foundation rule
	}
}