<!--[if gt IE 8]><!-->
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-2.2.0.js"><\/script>')</script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="https://code.jquery.com/jquery-1.8.0.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.8.0.js"><\/script>')</script>
<![endif]-->

<!-- build:js assets/js/main.js -->
<script src="assets/js/plugins.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>


<script src="bower_components/foundation-sites/js/foundation.core.js"></script>
<script src="bower_components/foundation-sites/js/foundation.util.mediaQuery.js"></script>
<script src="bower_components/foundation-sites/js/foundation.util.triggers.js"></script>
<script src="bower_components/foundation-sites/js/foundation.util.keyboard.js"></script>
<script src="bower_components/foundation-sites/js/foundation.util.motion.js"></script>
<script src="bower_components/foundation-sites/js/foundation.offcanvas.js"></script>
<script src="bower_components/foundation-sites/js/foundation.accordion.js"></script>

<script src="assets/js/components/lazyLoad.js"></script>

<script src="bower_components/waypoints/waypoints.js"></script>
<script src="bower_components/counter-up/jquery.counterup.js"></script>

<script src="assets/js/main.js"></script>
<!-- endbuild -->

<!-- build:js assets/js/ie8-body.js -->
<!--[if lt IE 9]>
<script src="bower_components/REM-unit-polyfill/js/rem.min.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>/* Uncomment when launched
	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	e.src='//www.google-analytics.com/analytics.js';
	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	ga('create','UA-XXXXX-X','auto');ga('send','pageview');*/
</script>